:root {
  font-family: Helvetica, sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  background-color: #ff0000;
}

#offline {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  margin: auto;
  display: none;
}

#loading {
  font-size: 2rem;
  margin: auto;
}

.visible {
  display: block;
}